/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
  -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -o-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in; }

input[type="submit"],
input[type="button"],
button,
.ba-button {
  display: inline-block; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -o-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in; }

.ba-container {
  max-width: 1200px;
  padding: 0 50px 0;
  position: relative; }

.ba-card-face {
  padding: 10px;
  background: #ccc;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  -o-transition-property: transform, background;
  transition-property: transform, background;
  transition-property: transform, background, -webkit-transform;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;
  height: 300px;
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 40px; }

.ba-card-back {
  padding: 10px;
  background: #7236;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  z-index: -1;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  -o-transition-property: transform, background;
  transition-property: transform, background;
  transition-property: transform, background, -webkit-transform;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  border-radius: 40px; }

.ba-card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .ba-card-footer p {
    font-size: 26px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .ba-card-footer svg {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

p {
  margin: 0; }

.ba-card + .ba-card {
  margin-left: 30px; }

.ba-card {
  -webkit-perspective: 800px;
  perspective: 800px;
  width: 200px;
  position: relative; }
  .ba-card:hover .ba-card-face {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg); }
  .ba-card:hover .ba-card-back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }

.ba-center-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .ba-center-card svg {
    width: 50%; }

.ba-deck-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 30px; }

.ba-logo-card p {
  font-size: 26px; }

/*# sourceMappingURL=style.css.map */